.ulMenu {
  position: relative;
}
.ulMenu .liMenu {
  list-style: none;
  text-align: center;
}
.ulMenu .liMenu .aMenu {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
.ulMenu :hover .liMenu .aMenu {
  color: #0002;
}
.ulMenu .liMenu :hover .aMenu {
  color: #000;
  background: rgba(255, 255, 255, 1);
}

.ulMenu .liMenu .aMenu :before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

.ulMenu .liMenu .aMenu :hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

.ulMenu .liMenu :nth-child(6n + 1) .aMenu :before {
  background: #81ecec;
}
.ulMenu .liMenu :nth-child(6n + 2) .aMenu :before {
  background: #ff7675;
}
.ulMenu .liMenu:nth-child(6n + 3) .aMenu :before {
  background: #55efc4;
}
.ulMenu .liMenu:nth-child(6n + 4) .aMenu :before {
  background: #a29bfe;
}
.ulMenu .liMenu:nth-child(6n + 5) .aMenu :before {
  background: #fd79a8;
}
.ulMenu .liMenu:nth-child(6n + 6) .aMenu:before {
  background: #ffeaa7;
}
